.header{
	font-family: 'Lora', cursive;
	color:#878889;
	font-size: 40px;
	padding-top: 10px;
	width: 50%;
	margin: 0 auto;
}
.body{

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color:#878889;
	font-size: 20px;
	width: 50%;
	margin: 0 auto;
}
.all{
	padding-top: 10%;
	width: 100%;
  margin: 0 auto;

}
a{
	color:#878889;
}
.all img{
	position: relative;;
	left:26%;
   top:50%;
   margin-left:-10px;
   margin-top:-10px;
}
