.header{
	font-family: 'Lora', cursive;
	color:#878889;
	font-size: 40px;
	width: 80%;
}
.body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color:#878889;
	font-size: 20px;
	width: 50%;
	margin: 0 auto;
}
.all{
	padding-top: 15%;
	width: 100%;
  margin: 0 auto;
}
a{
	color:#878889;
}
.img-circle {
    border-radius: 50%;
}