.header{
	font-family: 'Lora', cursive;
	color:#878889;
	font-size: 250%;

}
.all{
	padding-top: 9%;
	width: 100%;
  margin: 0 auto;
  margin-bottom: 10%;
}
a{
	color:#444452;
  -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

a:hover {
  color: #EF5365;
}

img.rounded-corners {
	border-radius: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #f6e8ec;
    color: #444452;
    font-family: "Source Sans Pro",Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    width: 95%;
}
.intro {
    padding: 110px 10px;
    padding-bottom: 300px;
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
}
.intro__contact {
	font-size: 22px;
    font-weight: 300;
    max-width: 750px;
    padding-top: 20px;
    padding-right: -10px;
}
.intro__tagline {
	font-size: 30px;
    font-weight: 300;
    max-width: 800px;
    padding-top: 20px;
}
.name {
    font-weight: 700;
}

/* Tablet:768px. */
@media (min-width: 768px) and (max-width: 991px) {
 .intro {
   font-size: 15px; 
   padding: 5px;
   padding-left: 10px;
  }
  .intro__contact {
   font-size: 15px;
   padding: 5px;
   padding-left: 10px;
  }
  .intro__tagline {
   font-size: 15px;
   padding: 5px;
   padding-left: 5px;
   padding-left: 10px;
}
}

/* Mobile :320px. */
@media (max-width: 767px) {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
  .sofar {
    padding-left: 100px;
  }
  .intro {
   font-size: 15px;
   padding: 5px;
   padding-top: 20px;
   padding-bottom: 160px;
   margin: 0 auto;
   padding-left: 10px;
  }
  .intro__contact {
   font-size: 15px;
   padding: 5px;
   padding-left: 10px;
  }
  .intro__tagline {
   font-size: 15px;
   padding: 10px;
   padding-bottom: 20px;
   padding-left: 10px;
	}
}

li{
	padding-bottom: 3px;
}

