html {
    background-color: #FFC9CB;
    background: lightblue url("background.jpg") no-repeat fixed center;
    background-size: cover;
    color: #444452;
    font-family: "Source Sans Pro", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    width: calc(100vw - 30px);
    border: solid 15px #FFC9CB;
}

body {
    max-width: 900px;
    margin: 45px auto;
}

a {
  color:#444452;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  
}

a:hover {
  color: white;
}

li {
  padding-bottom: 3px;
  font-weight: 300;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center; 
  font-size: 20px;  
  max-width: 750px;
}
  
.contact-info > h3 {
  font-size: 20px;  
  padding-right: 10px;
}

.contact-info > span {
  padding-right: 10px;
}

.intro-tagline {
	font-size: 30px;
  font-weight: 300;
  max-width: 800px;
  padding-top: 20px;
}
.name {
  font-weight: 700;
}


/* Tablet:768px. */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    margin: 45px 0px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .intro {
   font-size: 15px; 
   padding: 5px;
   padding-left: 15px;
  }

  .contact-info-header {
   font-size: 15px;
   padding: 5px;
   padding-left: 10px;
  }

  .intro-tagline {
   font-size: 15px;
   padding: 5px;
   padding-left: 5px;
   padding-left: 10px;
  }
}


/* Mobile :320px. */
@media (max-width: 767px) {
  body {
    margin: 45px 0px;
  } 

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}

  .sofar {
    padding-left: 100px;
  }

  .sub-header {
    padding-left: 10px;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center; 
    font-size: 14px;  
    max-width: 750px;
    margin-left: 15px;
  }
    
  .contact-info > h3 {
    font-size: 15px;  
    padding-right: 15px;
  }
  
  .contact-info > span {
    padding-right: 10px;
  }

  .intro {
    font-size: 14px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 160px;
    margin: 0 auto;
    padding-left: 15px;
  }

  .contact-info-header {
   font-size: 15px;
   padding: 5px;
   padding-left: 15px;
  }

  .intro-tagline {
   font-size: 20px;
   padding: 10px;
   padding-bottom: 20px;
   padding-left: 15px;
	}
}