.header{
	font-family: 'Lora', cursive;
	color:#878889;
	font-size: 250%;

}
.body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color:#878889;
	font-size: 15px;
	width: 50%;
	margin-left: 24%;
	margin-bottom: 10%;
}
.all{
	padding-top: 9%;
	width: 100%;
  margin: 0 auto;
  margin-bottom: 10%;
}
a{
	color:#878889;
}
.img-circle {
    border-radius: 50%;
    margin-left: 24%;
}